html {
    overflow-x: hidden;
}

body {
    color: whitesmoke;
    font-size: 16px;
    background: midnightblue;
    overflow-x: hidden;
}

.section {
    padding: 130px 0px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.section-header {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}

.section-header .section-title {
    font-size: 35px;
    margin-bottom: 12px;
    font-weight: 600;
    position: relative;
    line-height: 30px;
}

.section-header .desc-text p {
    font-size: 18px;
    color: whitesmoke;
    line-height: 26px;
    margin-bottom: 0;
}

.clear {
    clear: both; }

.mt {
    margin-top: 80px; }

.mt-30 {
    margin-top: 30px; }

.mb-30 {
    margin-bottom: 30px; }

.pt-30 {
    padding-top: 30px; }

.pb-30 {
    padding-bottom: 30px; }

.pt-70 {
    padding-top: 70px; }

.mb-50 {
    margin-bottom: 50px; }

.padding-0 {
    padding: 0; }

.pr-20 {
    padding-right: 20px; }

.pl-20 {
    padding-left: 20px; }

.pl-70 {
    padding-left: 70px; }

.pr-70 {
    padding-right: 70px; }

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    width: 45px;
    height: 45px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #5533ff;

    box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
    z-index: 9999999; }

.back-to-top i {
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*---------------------------------------------------------------------*/
.buttonMain {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 4px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: blue;
    text-decoration: none;
    transition: 0.3s ease all;
}
.buttonMain:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.buttonMain:hover,.buttonMain:focus {
    color: blue;
    background-color: white;
    border-radius: 10px;
}
.buttonMain:hover:before, .buttonMain:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 20px;
}
.buttonMain:active {
    transform: scale(0.8);
    border-radius: 10px;
}

.buttonMain2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 4px solid blue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: blue;
    text-decoration: none;
    transition: 0.3s ease all;
}
.buttonMain2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.buttonMain2:hover,.buttonMain2:focus {
    color: blue;
    background-color: white;
    border-radius: 10px;
}
.buttonMain2:hover:before, .buttonMain2:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 20px;
}
.buttonMain2:active {
    transform: scale(0.8);
    border-radius: 10px;
}
/*-----------------------------------------------------------------
                            NavBar Section
------------------------------------------------------------------*/
.logo-menu a {
    font-size: 20px;
    color: #fff; }

.menu-bg {
    background: #5533ff;
    background: linear-gradient(95deg, midnightblue 40%, blue 100%) !important;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.menu-bg .menu-button {
    top: 0; }

.menu-bg .menu-button:hover {
    cursor: pointer;
    color: #3c9cfd; }

.menu-bg .logo-menu a {
    color: #3c9cfd; }

.menu-bg .navbar-nav .nav-link {
    color: #ffffff !important; }

.menu-bg .navbar-nav .nav-link:hover {
    color: #ffffff !important; }

.menu-bg .navbar-nav .active {
    color: #ffffff !important; }

.navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 8px 0px;
    margin-left: 26px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-weight: 500;
}
.navbar{
    background: linear-gradient(95deg, blue 40%, black 100%) !important;
}
.navbar-expand-md .navbar-nav .nav-link:before {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
    color: #ffffff;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
    color: #ffffff;
}

.navbar-expand-md .navbar-toggler {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    float: right;
}

.navbar-expand-md .navbar-toggler i {
    color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
    outline: none;
}
#Signup{
    position: relative;
    margin-left: 25px;
    height: 45px;
    padding-top:6px;
}
#Heading{
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    font-style: normal;
    text-underline: none;
}
/*-----------------------------------------------------------------
                            Hero Area
------------------------------------------------------------------*/
#headLogo{
    top: 12px;
    position: absolute;
    width: 110px;
    aspect-ratio: initial;
}

.hero-area {
    position: relative; }
.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #5533ff;
    background: linear-gradient(95deg, midnightblue 40%, blue 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12;
}

.hero-area .contents {
    padding: 220px 0;
}
.hero-area .contents h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}
.hero-area .contents p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.hero-area .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    padding: 15px 15px;
}

.hero-area .intro-img {
    padding: 180px 0 0px;
}
.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
}
.hero-area {
    position: relative;
}
.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #5533ff;
    background: linear-gradient(95deg, midnightblue 40%, blue 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12;
}
.hero-area .contents {
    padding: 220px 0;
}
.hero-area .contents h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}
.hero-area .contents p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

.hero-area .intro-img {
    padding: 180px 0 0px;
}
.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
}
.hero-area {
    position: relative;
}
.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #5533ff;
    background: linear-gradient(95deg, midnightblue 40%, blue 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12;
}
.hero-area .contents {
    padding: 220px 0;
}
.hero-area .contents h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}
.hero-area .contents p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.hero-area .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    padding: 15px 15px;
}
.hero-area .intro-img {
    padding: 180px 0 0px;
}
.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
}

.heroButton{
    position: relative;
    margin: 5px;
}
/*---------------------------------------------------------------
----------------------------------------------------------------*/
#services .services-item {
    background-color: whitesmoke;
    padding: 60px 30px;
    border: 1px solid #ddd;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
#services .services-item:hover {
    border: 1px solid #7575ba;
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
#services .services-item .icon {
    background: blue;
    width: 110px;
    height: 110px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
    left: 30%;
}
#services .services-item .icon i {
    font-size: 40px;
    color: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%; }
#services .services-item h4 {
    font-size: 26px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px; }
#services .services-item p {
    font-size: 18px;
    margin-bottom: 10px;
    color: black; }

/*--------------------------------------------------------------
                         Features
--------------------------------------------------------------*/

#features {
    background: #7575ba;
    color: whitesmoke ;
}
#features .featured-bg {
    background: #fff; }
#features .featured-border1 {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed; }
#features .featured-border2 {
    border-bottom: 1px solid #ededed; }
#features .featured-border3 {
    border-right: 1px solid #ededed; }
#features .feature-item {
    padding: 30px;
    overflow: hidden;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
#features .feature-item .feature-icon {
    background: blue;
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid blue;
    margin-top: 12px; }
#features .feature-item .feature-icon i {
    font-size: 40px;
    color: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%; }
#features .feature-item h4 {
    color: black;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px; }
#features .feature-item p {
    font-size: 16px;
    color: black;
    display: block; }
#features .feature-item:hover {
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
#features .feature-item:hover .feature-icon {
    background: blue;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
#features .feature-item:hover .feature-icon i {
    color: whitesmoke;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }

/*==========================================================================
   Testimonial section
  ==========================================================================*/
#testimonial {
    position: relative;
    height: auto;
    margin-bottom: 320px;
}
#testimonial .right-position {
    position: relative; }
#testimonial .testimonial-area {
    position: absolute;
    width: 100%;
    z-index: 12;
    top: 0px;
    margin: 0px auto; }
#testimonial #client-testimonial {
    background-color: #fff;
    padding: 54px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24); }
#testimonial #client-testimonial .content-inner p {
    font-size: 24px;
    color: #5e629c;
    font-style: italic;
    line-height: 35px; }
#testimonial #client-testimonial .author-info {
    padding-top: 26px;
    padding-bottom: 20px; }
#testimonial #client-testimonial .author-info h5 {
    color: #151948;
    font-size: 18px; }
#testimonial #client-testimonial h5 span {
    font-size: 16px;
    color: #5e629c;
    font-style: italic; }
#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev {
    color: blue;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
    background: #fff;
    filter: Alpha(Opacity=50);
    position: absolute;
    left: -20px;
    top: 48%;
    opacity: 1;
    border: 1px solid #ccc;
    width: 38px;
    height: 38px;
    padding: 8px 0px; }
#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next {
    color: blue;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
    background: #fff;
    filter: Alpha(Opacity=50);
    position: absolute;
    right: -20px;
    top: 48%;
    opacity: 1;
    border: 1px solid #ccc;
    width: 38px;
    height: 38px;
    padding: 8px 0px; }
#testimonial #client-testimonial .owl-controls .owl-buttons div.owl-prev:hover, #testimonial #client-testimonial .owl-controls .owl-buttons div.owl-next:hover {
    color: #fff;
    background: blue;
    border-color: blue; }





/* ==========================================================================
   Our Pricing
   ========================================================================== */
#pricing .pricing-table {
    padding: 55px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
#pricing .pricing-table h3 {
    font-size: 20px;
    color: #151948;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 11px; }
#pricing .pricing-table h1 {
    color: blue;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    padding-left: 10px; }
#pricing .pricing-table h1 span {
    font-size: 16px;
    position: absolute;
    left: 20%;
    top: 10px; }
#pricing .pricing-table ul {
    padding-bottom: 28px; }
#pricing .pricing-table ul li {
    font-size: 16px;
    font-weight: 400;
    color: #5e629c;
    display: block;
    line-height: 33px; }
#pricing .pricing-table:hover {
    border: 1px solid #3ecf8e;
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }

/* ==========================================================================
   Contact section
   ========================================================================== */
#contact form#contactForm .form-group {
    margin-bottom: 30px; }

#contact form#contactForm input[type=text], #contact form#contactForm input[type=email] {
    min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: black; }

#contact form#contactForm textarea {
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: black; }

#contact form#contactForm .form-control:focus {
    border: 1px solid #3e7dcf;
    outline: none;
    box-shadow: none;
    background: rgb(28, 236, 255); }

#footer-Content {
    background: linear-gradient(95deg, black 40%, blue 100%);
}
#footerlogo{
    position: relative;
    width: 180px;
    padding: 20px;
    aspect-ratio: initial;
    left:-200px;
}
