/*---------------------------------------------------------
             COLOUR - VARIABLES & NATIVE CSS
---------------------------------------------------------*/
:root{
    --colour1 : #ffffff;
    --colour2 : blue;
    --colour3 : #FFFFFF;
    --colour4: #BDBDFFFF;
}
/*-------------------------------------------------------*/
.buttonMain {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 2px 2px;
    border: 4px solid whitesmoke;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    background-color: blue;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
.buttonMain:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: whitesmoke ;
    z-index: -1;
}
.buttonMain:hover, .buttonMain:focus {
    color: blue;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
.buttonMain:hover:before, .buttonMain:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 10px;
}
.buttonMain:active {
    transform: scale(0.8);
    border-color: whitesmoke;
}
/*---------------------------------------------------------
                         BODY
---------------------------------------------------------*/
body{
    background-color: midnightblue;
}
/*---------------------------------------------------------
                   HEADER - SECTION
---------------------------------------------------------*/
.header{
    background: linear-gradient(95deg, midnightblue 40%, blue 100%) !important;
    width: 100%;
    height: 95px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    border-bottom: 5px solid whitesmoke;
}

#logo{
    margin-top: 10px;
    height: 70px;
    width: 145px;
    position: absolute;
    left: 15px;
}
/*------------------------------------------------------*/
.headerButton {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px 2px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: #ffffff;
    background-color: white;
}
.headerButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.headerButton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.headerButton::after {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.headerButton::after {
    background-color: whitesmoke;
}
.headerButton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
/*------------------------------------------------------*/
#backButton{
    height: 70px;
    width: 70px;
    right: 30px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("icons/backButton.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
@media screen and (max-width: 600px) {
    #backButton{
        width: 60px;
        height: 65px;
        right: 10px;
    }
}
/*---------------------------------------------------------
                      MAIN - SECTION
---------------------------------------------------------*/

#main{
    position: absolute;
    margin-top:25px;
    height:80vh;
    width: 100vw;
    padding-right: 5%;
    padding-left: 5%;
    transform: scale(0.8);
}

@media screen and (max-width: 600px) {
    #main{
        position: absolute;
        margin-top:95px;
        height:80vh;
        width: 100vw;
        padding-right: 5%;
        padding-left: 5%;
        transform: scale(1);
    }
}
/*-----------------------------------------------------------------*/
#submit{
    position: relative;
    width: 60%;
    height: 60px;
    margin-left: 20%;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--colour2);
    font-size: 26px;
}
#info{
    position: absolute;
    right: 2.5%;
    width: 45%;
    height:80vh;
}

#formFill{
    position: relative;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    top: 15px;
    background-color: whitesmoke;
    border-radius: 1%;
    padding: 25px;
}

.scroll{
    color: #0a58ca;
    background-color: #0a58ca;
}

#eventDetails{
    position: relative;
    padding: 20px;
    background-color: #6b1bd7;
    opacity: 0.8;
    color: #FFFFFF;
    border-radius: 10px;
}

#formattingDetails{
    position: relative;
    padding: 20px;
    background-color: #0a58ca;
    opacity: 0.8;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
}

.insideForm{
    position: relative;
    padding: 20px;
    background-color: #c572ff;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
}

.heading{
    font-size: 22px;
    text-decoration-style: solid;
}


#eventlogoUpload{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#logoScreen{
    display: inline-block;
    position: relative;
    aspect-ratio: 16/9;
    width:30%;
    padding:5px;
    border-radius: 3px;
    background-color: whitesmoke;
}

#previewLogo{
    position: relative;
    width: 100%;
    height: 100%;
}

#uploadLogo{
    display: inline-block;
    position: relative;
    width: 60%;
    margin-left: 30px;
    background: #F763FFFF;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}



.swal-modal{
    max-width: 80vw;
    z-index: 7;
}
.swal-button{
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--colour2);
    font-size: 16px;
}
.swal-title{
    color: black;
}
.swal-text{
    color: #00006c;
}
.swal-overlay{
    background-color: rgb(25,25, 112,70%);
}
.swal-button--danger{
    background-color: red;
}

#LoadingOverlay{
    display: block;
    position :fixed;
    width: 100vw;
    height: 100vh;
    z-index:4;
    background-color: midnightblue;
}

#loading{
    position :relative;
    width: 190px;
    height: 190px;
    top:35%;
    left:42%;
    z-index:4;
}
@media screen and (max-width: 600px) {
    #loading {
        width: 120px;
        height: 120px;
        top:40%;
        left:35%;
    }
}

input{
    background-color: #FFFFFF;
    border-radius: 8px;
    border-width: medium;
    border-color: black;
    margin-top: 5px;
    padding: 1px;
    margin-left: 3px;
}

.posIn{
    width:65px;
}

#tempSelection{
    position: relative;
    width: 100%;
}


#issuesData{
    position: relative;
    width: 100%;
    height: 60%;
    padding: 5px 25px 15px 25px;
    overflow-y: scroll;
    background-color: #6b1bd7;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: bold;
}
@media screen and (max-width: 600px){
    #issuesData{
        height: auto;
    }
}
#eventSection{
    position: relative;
    width: 100%;
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    #eventSection{
        position: relative;
        width: 100%;
        left: 0;
    }
}
#eventInfo{
    position: relative;
    display: inline-block;
    margin-left: 25px;
    top: 10px;
    background-color: #6b1bd7;
    width: calc(100% - 340px);
    height:170px;
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
}


#eventLINK{
    position: relative;
    height: 40px;
    font-size: 14px;
    padding: 5px 15px;
    margin:10px;
    border-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    #eventInfo {
        display: block;
        position: relative;
        margin-left: 0;
        width: 100%;
        height: auto;
        left: 0;
        color: whitesmoke;
        border-radius: 3px;
        padding: 10px;
    }
}

#text{
    position: relative;
    color: whitesmoke;
    left:5px;
}

.entry{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-decoration-color: black;
    width: 100%;
    left:0;
    margin-top: 10px;
    z-index: 3;
    padding: 5px;
}
.entryInfo{
    position: relative;
    display: inline-block;
    width: 50%;
    left:15px;
    top:15px;
}
@media screen and (max-width: 600px) {
    .entryInfo{
        position: relative;
        display: block;
        width: 90%;
        left:5%;
        top:15px;
        margin-bottom: 30px;
    }
}
#about{
    font-size: 26px;
}
.visit{
    display: inline-block;
    position: relative;
    right: 0%;
    border-radius: 10px;
    width:40%;
    height: 70px;
    margin-left: 1%;
    margin-bottom: 10px;
}
#link{
    color: yellow !important;
    text-decoration : none;
    background: transparent;
}
@media screen and (max-width: 600px) {
    .visit {
        display: inline-block;
        position: relative;
        left: 7%;
        width: 30%;
        height: 50px;
        margin-bottom: 20px;
        margin-left: 5%;
        top: 25px;
        font-size: 12px;
    }
}
#elink{
    color: yellow;
}
#mail{
    margin-left: 7% !important;
}
@media screen and (max-width: 600px) {
    #mail{
        margin-left: 0 !important;
        width: 50% !important;
    }
}
#logoHolder{
    position: relative;
    display: inline-block;
    background-color: #6b1bd7;
    width: 300px;
    height: 175px;
    border-radius: 5px;
    top: -30px;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    #logoHolder{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 3px;
        top: 5px;
        padding: 10px;
    }
}
#eventLogo{
    position: relative;
    width: 100%;
    height: 100%;
}


.footer{
    background: linear-gradient(95deg, midnightblue 40%, blue 100%) !important;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    border-top: 5px solid whitesmoke;
}
/*------------------------------------------------------------
                     FOOTER - SECTION
------------------------------------------------------------*/
#orglogo{
    height: 45px;
    width: 85px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
#social{
    display: flex;
    height: 70px;
    bottom: 0;
    justify-content: flex-end;
    position: relative;
    top: 20%;
}
.socialButton{
    background-color: transparent;
    border: none;
    position: relative;
    height: 40px;
    width: 50px;
    right: 10px;
}
.socialImg{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}